body {
  margin: 0;
  padding: 0;
}

.app-container {
  background: linear-gradient(to right, #00AAFF, #06c857);
  min-height: 85vh;
  /* color: #137974; */
  
}


.navbar-brand{
  color: #3669AD;
}

.app-sidebar{
  background-color: #25cdc4;
  box-shadow: 5px 17px 40px 15px rgba(23,64,84,0.75);
-webkit-box-shadow: 5px 17px 40px 15px rgba(23,64,84,0.75);
-moz-box-shadow: 5px 17px 40px 15px rgba(23,64,84,0.75);
}




